.cover-packlists-container{
	margin-bottom: 5px; 
	margin-top: 5px;
	min-width: 300px;
	padding: 20px 40px 20px 40px;
	background-color: rgba(0, 0, 0, @coverOverlayOpacity);
	border-radius: @coverContainerBorderRadius;
	width: 100%;
}

.cover-packlists-container > *{
	border: 1px solid yellow;
}

/* CHECKBOXES 
============================================================================= 
*/

label {
	background:transparent;
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	width: 80%;
	word-wrap: break-word;
	margin-bottom: 0px;
}

label:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	left: 0rem;
	width: 20px;
	height: 20px;
	/*border: 3px solid #f2f2f2;*/
	border: 1px solid white;
	border-radius: 3px;
}

input:checked + label {
	color:gray;
	text-decoration: line-through;
	transition: all ease-in-out .3s;
}

input:checked + label:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .75rem;
	border-radius: 0px;
	border: 2px solid #009688;
	border-top-style: none;
	border-right-style: none;
	top:0.4rem;
	width: 1.7rem;
}

input:checked + label:after {

	content: "";
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
/* hide checbox */
[type="checkbox"] {
	position:fixed;
	left:-9999px;
}


.animate-repeat:hover .list-item-btns{
	display:inline;
}

.animate-repeat:hover input:not(:checked) + label{
	font-weight: bold;
	font-size: 15px;
}

#packlist-buttons-container{
	display: inline-block;
	width: 100%;
	text-align: left;

	margin-bottom: 15px;
} 

#packlist-buttons-container > ul{
	margin-bottom: 0px;
	padding-left: 0px;
} 

#list-wrapper{
	padding-right: 0;
	padding-left: 0;
}

#packlist-buttons-filter {
	float: left;
	cursor: pointer;
	padding-left: 0px;
}

#packlist-buttons-filter > li{
	display: inline;
}

#packlist-buttons-filter > li + li{
	margin-left: 0px;
}

#packlist-buttons-filter > li > a {
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 14px;
	color: rgba(255,255,255,.5);
	border: 1px solid transparent;
	text-decoration: none;
}

#packlist-buttons-filter > li > a:hover,
#packlist-buttons-filter > li > a.selected {
	border-color: rgba(255,255,255,.5);
}
#packlist-buttons-filter > li > a.selected{
	border-color: white;
	color: white;
}

#packlist-buttons-clear{
	float: right;
	list-style: none;
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
}

#packlist-buttons-clear > li > a {
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 14px;
	color: white;
	text-decoration: none;
}

.list-item-container{
	border:red solid 0px;
	text-align: left;
	background: transparent;
}

.checkbox-container{
	display: inline-block;
	border:solid yellow 0px;
	width: 20px;
	height: 20px;
}

.label-container{
	display: inline-block;
	padding-left: 10px;
	height: 20px;
	position: absolute;
	width: 100%;
}

label .ng-binding{
	margin-top: 0px;
	margin-left:10px;
	margin-bottom: 0px;
}

.ng-binding{
	font-weight: 100;
	padding-bottom: 5px;
}

.h-li{
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}

.wrapper {
	width: 960px;
	margin: 50px auto;
}

input:focus, input[type]:focus {   
	box-shadow: 0 0px 0px inset, 0 0 0px;
	outline: 0 none;
}

.col-md-3{
	padding-left: 0px;
	padding-right: 0px;
}

/*
input[type="text"]
{
	background: transparent;
	border: 1px solid gray;
	height: 30px;
	width: 96%;
	border-radius: 3px;
	color: white;
	padding-left: 5px;
}
*/

::-webkit-input-placeholder {
	font-style: italic;
}
.ng-valid{
	text-align: left;
}

.packlist-btn{
	text-decoration: none;
	background: transparent;
	color: white;
	border-radius: 3px;
}

.packlist-btn.selected,
.clear {
	border: solid 1px white;
}

#filters li {
	display: inline;
}

#filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

#filters li a.selected,
#filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

#filters li a.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

#background-image-container{
	width: 100%;
	height: 100%;
	background-image:url("img/cover3.jpg");
	background-position: 50%, 50%;
	background-size: cover;
}

#overlay{
	width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.thin {
    font-weight: 200;
}

.awesome {
    clear: both;
    line-height: 1.8;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0px;
}

#awesome-cover{
	font-size: 55px;
}

.awesome-nav{
	font-size: 32px;
}

#warning-Msg{
	color:darkred;
	height: 30px;
	margin-top: -30px;
	padding-top: 5px;
	font-weight: bolder;
}






 