.cover-packlists-container{
	margin-bottom: 5px; 
	margin-top: 5px;
	min-width: 300px;
	padding: 20px 40px 20px 40px;
	background-color: rgba(0, 0, 0, @coverOverlayOpacity);
	border-radius: @coverContainerBorderRadius;
	width: 100%;
}

.cover-packlists-container > *{
	border: 1px solid yellow;
}

/* LABEL + CHECKBOXES 
============================================================================= 
*/

label {
	background:transparent;
	position: relative;
	cursor: pointer;
	word-wrap: break-word;
	height: 20px;
	display: flex;
	align-items: center;
	font-size: 15px;
}

label .ng-binding{
	margin-left:25px;
	font-weight: 100;
}

label:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	left: 0rem;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 3px;
}

input:checked + label {
	color:gray;
	text-decoration: line-through;
	transition: all ease-in-out .3s;
}

input:checked + label:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .75rem;
	border-radius: 0px;
	border: 2px solid #009688;
	border-top-style: none;
	border-right-style: none;
	top:0.4rem;
	width: 1.7rem;
}

input:checked + label:after {

	content: "";
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
/* hide checbox */
[type="checkbox"] {
	position:fixed;
	left:-9999px;
}

/* ADD NEW ITEM FORM
============================================================================= 
*/

/* main container*/
.list-item-input {
	width: 95%;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-top: 10px;
}

.input-field {
	float: right;
	border: none;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	margin-top: -5px;
	padding: 0.3em 0.25em;
	padding-left: 1em;
	width: 100%;
	background: transparent;
	color: white;
}

.input-field:focus {
	outline: none;
}

/*where the user type in the actual input*/
.input-label {
	padding: 0 1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

/*the top and bottom border lines*/
.input-label::before,
.input-label::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 1px;
	border-width: 0px;
	border-top: 1px solid rgba(105,105,105,.6);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input-label::before {
	top: 0;
}

.input-label::after {
	margin-top: 22px;
}

/*class to be added when input field contains text
prevents the placeholder text to return to initial position*/
.input-filled {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

/*move top border line upwards*/
.input-field:focus + .input-label::before,
.input-filled .input-label::before { 
	-webkit-transform: translate3d(0, -0.3em, 0);
	transform: translate3d(0, -0.3em, 0);
}

/*move bottom border line downwards*/
.input-field:focus + .input-label::after,
.input-filled .input-label::after {
	-webkit-transform: translate3d(0, 0.3em, 0);
	transform: translate3d(0, 0.3em, 0);
}

/*the placeholder text "add new item"*/
.input-label-placeholder {
	display: block;
	padding: .3em 0;
	font-weight: normal;
	color: gray;
	font-style: italic;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/*move the placeholder text downwards when input box focused*/
.input-field:focus + .input-label .input-label-placeholder,
.input-filled .input-label-placeholder {
	-webkit-transform: translate3d(0, 70%, 0);
	transform: translate3d(0, 70%, 0);
}

#warning-Msg{
	color:darkred;
	font-weight: bolder;
	text-align: center;
}















