<!-- SETTINGS.TPL.HTML -->
<div class="cover-packlists-container">
	
	<div data-ng-show="duplicateFound" ng-class="{fade:doFade}" id="warning-Msg">Error: Item already in list</div>
	<!-- CLOTHES -->
	<div class="col-md-3 no-padding">
		<div ng-repeat="x in packlist.clothes">

			<!-- CHECKBOX & LABEL -->
			<input type="checkbox" id="{{x.item}}" ng-model="x.done">
			<label for="{{x.item}}"> 
				<span class="packlist-label">{{x.item | capitalize}}</span>
			</label>

		</div>

		<!-- ADD ITEM -->
		<form ng-class="{'input-filled': clothesInput}" ng-submit="addItem('clothesInput','clothes')" class="list-item-input" autocomplete="off" > 
			<input ng-model="clothesInput" class="input-field" type="text" id="input-1" />
			<label  class="input-label" for="input-1">
				<span class="input-label-placeholder">Add New Item</span>
			</label>
		</form>
	</div>

</div>
