.cover-packlists-container{
	margin-bottom: 5px; 
	margin-top: 5px;
	min-width: 300px;
	padding: 20px 40px 20px 40px;
	background-color: rgba(0, 0, 0, @coverOverlayOpacity);
	border-radius: @coverContainerBorderRadius;
	width: 100%;
}

.cover-packlists-container > *{
	border: 1px solid yellow;
}

/* LABEL + CHECKBOXES 
============================================================================= 
*/

label {
	background:transparent;
	position: relative;
	cursor: pointer;
	word-wrap: break-word;
	height: 20px;
	display: flex;
	align-items: center;
	font-size: 15px;
}

label .ng-binding{
	margin-left:25px;
	font-weight: 100;
}

label:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	left: 0rem;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 3px;
}

input:checked + label {
	color:gray;
	text-decoration: line-through;
	transition: all ease-in-out .3s;
}

input:checked + label:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .75rem;
	border-radius: 0px;
	border: 2px solid #009688;
	border-top-style: none;
	border-right-style: none;
	top:0.4rem;
	width: 1.7rem;
}

input:checked + label:after {

	content: "";
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
/* hide checbox */
[type="checkbox"] {
	position:fixed;
	left:-9999px;
}

/* ADD NEW ITEM FORM
============================================================================= 
*/

/*container*/
.list-item-input {
	width: 95%;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-top: 10px;
}


.input-field {
	float: right;
	border: none;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	margin-top: -3px;
}

.input-field--haruki {
	padding: 0.3em 0.25em;
	padding-left: 15px;
	width: 100%;
	background: transparent;
	color: white;

}

/*.input--haruki {
	margin-top: 10px;
	margin-left: 0;
	float: left;
}*/


/* Component Start */

/* To change color of top border */
/*#topBorderInput::before{
	border-top: 1px solid rgba(105,105,105,.3);
}*/




.input-field:focus {
	outline: none;
}

.input__label {
	padding: 0 1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	display: block;
	padding: .3em 0;
	font-weight: normal;
	color: gray;
	font-style: italic;
}

/* Individual styles */

/* Haruki */





.input__label--haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--haruki {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 1px;
	border-width: 0px;
	border-top: 1px solid rgba(105,105,105,.3);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before {
	top: 0;
}

.input__label--haruki::after {
	margin-top: 20px;
}

.input-field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	-webkit-transform: translate3d(0, 110%, 0);
	transform: translate3d(0, 110%, 0);
}

.input-field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	-webkit-transform: translate3d(0, -0.3em, 0);
	transform: translate3d(0, -0.3em, 0);
}

.input-field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	-webkit-transform: translate3d(0, 0.3em, 0);
	transform: translate3d(0, 0.3em, 0);
}

.input--filled {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}









