/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

@mainInnerWrapperWidth: 60%;
@mainContentWrapperPadding: 5%;
@siteHeaderPadding: 3%;
@innerWrapperOpacity: 60/100;
@mainInnerWrapperBorderRadius: 10px;

