
@disabledOpacity:0.4;

.cover-settings-container{
	margin-bottom: 5px; 
	margin-top: 5px;
	min-width: 300px;
	padding: 20px 40px 10px 40px;
	background-color: rgba(0, 0, 0, @coverOverlayOpacity);
	border-radius: @coverContainerBorderRadius;
}

.remove-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.remove-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.bottom-border{
	border-bottom: 1px solid rgba(128,128,128,@disabledOpacity);
	margin-bottom: 15px;
}

.settings-header{
	color: rgba(128,128,128,@disabledOpacity);;
	margin-top: 10px;
	margin-left: 30px;
}

.settings-label{
	color: rgba(128,128,128,@disabledOpacity);;
	padding-bottom: 5px;
	font-size: 12px;
}

.white{
	color: white;
}

/*HOVER-ICON EFFECT*/

.hover-icon-container{
	display: flex;
	justify-content: center;
	padding: 5px 20px 10px 20px;
}

.hover-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
	z-index: 1;
}

.hover-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hover-icon-inner{
	width: 50px;
	height: 50px;
	display: inline-block;
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: rgba(128,128,128,@disabledOpacity);;
}

/* Effect 1 */
.hover-icon-effect-1 .hover-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hover-icon-effect-1 .hover-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hover-icon-effect-1a .hover-icon:hover, 
.hover-icon-effect-1a .hover-icon-selected { /*.hover-icon-effect-1a .nav-btn-selected */
	background: rgba(255,255,255,1);
}

.hover-icon-effect-1a .hover-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.hover-icon-effect-1a .hover-icon:hover .hover-icon-inner,
.hover-icon-effect-1a .hover-icon-inner-selected{
	background-color: #009688;
}

.white-bckgrnd{
	background-color: white;
}

/*BUTTON*/
.btn-settings {
	background-color: transparent;
	border: 2px solid rgba(128,128,128,@disabledOpacity);
	font-size: 16px;
	float: right;
	color: gray;
	padding: 5px 10px;
	border-radius: 4px;
	margin-top: 10px;
}

.btn-settings:hover
.btn-settings:focus{
	color: rgba(128,128,128,@disabledOpacity);
}

.btn-white{
	border-color: white;
	color: #009688;
	font-weight: 600;
	background-color: white;
}

.btn-white:hover{
	border-color: white;
	color: #009688;
}

.circel-numeration{
	border: 2px solid;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	position: absolute;
	margin-left: -30px;
	text-align: center;
	margin-top: -3px;
}




 